.App {
  text-align: center;
}

.search-button {
  background-color: #ff9770;
  padding: 2px;
  border-radius: 2px;
}

.reset-button {
  border: none;
  padding: 5px 10px;
  color: white;
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  border-radius: 2px;
}